In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('data/SBER_250914_250915.csv')
df.head()

  <DATE>;<TIME>;<OPEN>;<HIGH>;<LOW>;<CLOSE>;<VOL>
0  250914;095900;303.18;303.18;303.18;303.18;2245
1  250914;100000;303.18;303.18;302.8;303.05;33316
2   250914;100100;303.13;303.13;302.8;302.8;15558
3    250914;100200;302.8;302.8;302.73;302.75;1645
4  250914;100300;302.74;302.77;302.72;302.76;3596