In [1]:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_json.html

import pandas as pd
from io import StringIO
df = pd.DataFrame([['a', 'b'], ['c', 'd']],
                   index=['row 1', 'row 2'],
                   columns=['col 1', 'col 2'])

df

      col 1 col 2
row 1     a     b
row 2     c     d

In [3]:
df.to_json(path_or_buf='data.json',orient='split')

In [9]:
df2 = pd.read_json(path_or_buf='data2.json', orient='split')
df2

                           col 1   col 2
2024-05-15 08:30:00+00:00   0.45  265.23
2024-05-19 05:30:00+00:00   0.28  286.15

In [10]:
df2['2024-05':]

                           col 1   col 2
2024-05-15 08:30:00+00:00   0.45  265.23
2024-05-19 05:30:00+00:00   0.28  286.15

In [11]:
df2.index

DatetimeIndex(['2024-05-15 08:30:00+00:00', '2024-05-19 05:30:00+00:00'], dtype='datetime64[ns, UTC]', freq=None)