In [1]:
from datetime import datetime, timezone, timedelta

from tinkoff.invest import CandleInterval
from app.services.tinvest import TinvestAdapter

tinvest = TinvestAdapter()

In [4]:
symbol = tinvest.get_instrument(ticker="SBER", class_code="TQBR")

end_date_utc = datetime.now(timezone.utc)
days_count = 20
start_date_utc = end_date_utc - timedelta(days=days_count)

candles = tinvest.get_candles(
    instrument_id=symbol.uid,
    start_date_utc=start_date_utc,
    end_date_utc=end_date_utc,
    interval=CandleInterval.CANDLE_INTERVAL_10_MIN)

In [5]:
candles

,time_utc,open,high,low,close,volume,is_complete,candle_source
0,2025-01-14 13:00:00+00:00,280.40,280.69,280.00,280.04,105666,True,1
1,2025-01-14 13:10:00+00:00,280.03,280.28,279.96,279.96,65602,True,1
2,2025-01-14 13:20:00+00:00,279.96,280.33,279.69,280.19,72828,True,1
3,2025-01-14 13:30:00+00:00,280.18,280.99,280.18,280.52,81708,True,1
4,2025-01-14 13:40:00+00:00,280.52,280.77,280.34,280.73,31004,True,1
...,...,...,...,...,...,...,...,...
1266,2025-02-03 12:20:00+00:00,278.61,278.90,278.61,278.69,64278,True,1
1267,2025-02-03 12:30:00+00:00,278.69,278.70,278.59,278.63,19913,True,1
1268,2025-02-03 12:40:00+00:00,278.61,278.70,278.45,278.48,44610,True,1
1269,2025-02-03 12:50:00+00:00,278.48,278.49,278.19,278.38,80121,True,1
1270,2025-02-03 13:00:00+00:00,278.40,278.40,278.32,278.40,10154,False,1