In [3]:
from io import StringIO
import pandas as pd

In [21]:
df = pd.read_csv('../data/SBER_250914_250915.csv', sep=';')

df["date_str"]=df["<DATE>"].apply(lambda x: str(x).zfill(6)).astype(str)
df["time_str"]=df["<TIME>"].apply(lambda x: str(x).zfill(6)).astype(str)
df["datetime_str"]=df["date_str"]+df["time_str"]
df["time_utc"]= pd.to_datetime(df["datetime_str"], format='%y%m%d%H%M%S', utc=True)
df = df.set_index("time_utc")
df.drop(["date_str", "time_str", "datetime_str", "<DATE>", "<TIME>"], axis=1, inplace=True)
df.rename(columns={"<OPEN>": "open", "<HIGH>": "high", "<LOW>": "low", "<CLOSE>": "close", "<VOL>": "volume"}, inplace=True)

df.head()

                             open    high     low   close  volume
time_utc
2025-09-14 09:59:00+00:00  303.18  303.18  303.18  303.18    2245
2025-09-14 10:00:00+00:00  303.18  303.18  302.80  303.05   33316
2025-09-14 10:01:00+00:00  303.13  303.13  302.80  302.80   15558
2025-09-14 10:02:00+00:00  302.80  302.80  302.73  302.75    1645
2025-09-14 10:03:00+00:00  302.74  302.77  302.72  302.76    3596